.flushbox
    グループを作成しました

.wrapper
    .chat-side
        .side-header
            .side-header__box
                %p.side-header__box__user-name
                    名前
                    .side-header__box__menu__new-group
                        %ul.side-header__box__menu
                            %li.side-header__box__menu__new-group
                                %i.fa-edit
                            %li.side-header__box__menu__edit-user
                                %i.fa-edit
        
        .groups
            .group
                %p.group__group-name
                    グループ１
                %p.group__latest-message
                    コメント１
            .group
                %p.group__group-name
                    グループ２
                %p.group__latest-message
                    コメント２
            .group
                %p.group__group-name
                    グループ３
                %p.group__latest-message
                    コメント３                   
            .group
                %p.group__group-name
                    グループ４
                %p.group__latest-message
                    コメント４

    .chat-main
        .main-header
            .main-header__left-box
                %h2.main-header-__left-box__current-group
                    グループ１
                %ul.main-header-__left-box__member-list
        .messages
            .message
                .message__upper-info
                    %p.message__upper-info__talker
                        メッセンジャー１
                    %p.message__upper-info__date
                        日付
                %p.message__text
                    メッセージ１

        
